:root {
    --main-bg-color: #FFFFFF;
    --main-pg-color: #4d5ae5;
    --main-vg-color: #2e2f42;
    --main-mg-color: #434455;
    --second-background-color: #404bbf;
    --main-ag-color: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--main-bg-color);
}
.my-image {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

* {
    margin: 0;
}
.list {
    list-style: none;
}

/* Header */

    .header {
        border-bottom: 1px solid #e7e9fc;
    
    }

    .container {
        display: flex;
        align-items: center;
        width: 1158px;
        padding: 0 15px;
        
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .header-list{
        list-style: none;
        display: flex;
        gap: 40px;
    }

    .logo-header-link{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-pg-color);
        text-decoration: none; 
        margin-right: 76px;
    }

    .logo-header-blue{
        text-decoration: none;
        color: var(--main-vg-color);
        
    }

    .link-menu{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-vg-color);
        text-decoration: none;
        padding: 24px 0;
        margin-right: 76px;
    }

    .link-menu:hover,
    .link-menu:focus{
        color: var(--second-background-color);
    }

    .contact-list {
        font-style: normal;
    }
    
    .link-contact {
        color: var(--main-vg-color);
        text-decoration: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-mg-color);
    }
    
    .link-contact:hover,
    .link-contact:focus{
        color: var(--second-background-color);
    }
    

/* Button-main-page */
    .filter-btn:hover,
    .filter-btn:focus {
        background-color: var(--second-background-color);
        color: var(--main-bg-color);
        cursor: pointer;
    }

    .filter-btn{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        color: #ffffff;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

/* Button-Portfolio */
   
    .filter-btn-active {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--main-ag-color);
        color: var(--main-pg-color);
        cursor: pointer;
    }

    .filter-btn-active:is(:hover, :focus) {
        color: #FFFFFF;
        background-color: var(--second-background-color, #404BBF);
    }

/* Img-(1-9)-Portfolio */

    a.link {
        text-decoration: none;
    }
    
    .list-text{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-vg-color);
    }

    .list-name{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-mg-color);
    }

/* Section-1 */
    .section-mc{
        background-color: var(--main-vg-color);
        padding: 188px 0;
    }
    .section-header{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 496px;
    }


/* Section (2-3-4) heading */
    .section-heading {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--main-vg-color);
    }

    .mgpd{
        background-color: #FFFFFF;
    }

/* Section-4 */

    .section-mr{
        background-color: var(--main-ag-color);
    }

    .rml{
        background-color: var(--main-bg-color);
    }
    .name{
         font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-vg-color);
    }

    .specialization{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em; 
    }

    .photo {
        background-color: #FFFFFF;
    }

    .section-md{
        padding: 120px 0;
    }
/* Footer */
        .footer {
            background-color: var(--main-vg-color);
            padding: 100px 0;
        }
            .container{
                max-width: 1200px;
                margin: 0 auto;
            }
    
        .logo-link {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            text-decoration: none;

            display: inline-block;
            margin-bottom: 16px;
            text-decoration: none;
            color: #333;

        }
    
        .logo-text {
            color:var(--main-ag-color);
        }

        .logo-information{
            max-width: 264px;
            font-size: 16px;
            line-height: 24px;
            color: #666;
        }
